
//絶対位置の指定
@mixin absPosition ($top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

//ベンダープレフレックスの付与
@mixin putPrefix($property, $value) {
    @each $prefix in -webkit-,　-moz-, -ms-,　-o-,
    '' {
        #{$prefix}#{$property}: $value;
    }
}

$font-text-1: 0.9rem;

//全体
html {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',YuGothic,'Yu Gothic',sans-serif;
    font-size: $font-text-1;
    font-weight: 300;
    color: #484848;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

// 1080pxの画面が基準
header {
    position: relative;
    .header-area {
        @include putPrefix(display, flex);
        img {
            margin-left: 10px;
            width: 150px;
            z-index: 10;
        }
        .menu-list {
            @include putPrefix(display, flex);
            margin-left: auto;
            .counseling {
                background-color: antiquewhite;
                z-index: 10;
                padding: 0 10px;
                p {
                    font-size: 12px;
                    line-height: 44px;
                    font-weight: 600;
                }
            }
            .menu-trigger {
                //ハンバーガーアイコンの描写
                width: 50px;
                height: 44px;
                transition: all .4s;
                box-sizing: border-box;
                position: relative;
                background-color: #10376B;
                z-index: 10;

                span {
                    display: inline-block;
                    transition: all .4s;
                    box-sizing: border-box;
                    position: absolute;
                    left: 15px;
                    width: 20px;
                    height: 2px;
                    background-color: white;
                    border-radius: 4px;
                }

                span:nth-of-type(1) {
                    top: 14px;
                }

                span:nth-of-type(2) {
                    top: 21px;
                }

                span:nth-of-type(3) {
                    bottom: 14px;
                }
            }
            .active span:nth-of-type(1) {
                -webkit-transform: translateY(7px) rotate(-45deg);
                transform: translateY(7px) rotate(-45deg);
            }

            .active span:nth-of-type(2) {
                opacity: 0;
            }

            .active span:nth-of-type(3) {
                -webkit-transform: translateY(-7px) rotate(45deg);
                transform: translateY(-7px) rotate(45deg);
            }
        }
    }
}


.corrupt-menu-area {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s;
    transform: translateY(-200%);

    width: 100vw;
    height: 100vh;
    background-color: white;

    ul {
        margin-top: 100px;
        width: 100%;
        list-style-type: none;
        li {
            width: 100%;
            a {
                display: block;
                text-align: center;
                width: 100%;
                line-height: 50px;
                font-size: 1rem;
                text-decoration: none;
                color: #000000;
            }
        }
    }

    button {
        width: 60%;
        margin: 0 auto;
    }
}

.open .header-area .menu-list .corrupt-menu-area {
    transform: translateY(0);
    transition: all .5s;
}

.header-accordion {
    .accordion {
        font-size: 1rem;
        text-decoration: none;
        color: #000000;
    }
    ul {
        margin: 0;
        li {

        }
    }
}

